body {
    font-family: Arial, Helvetica, sans-serif;
}


.first-header-box {
    width: 100%;
}

.header-right-box {
    width: 780px;
}

.jumbotron-box {
    height: 600px;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-position: center;
    background-size:cover;
}


.text-jumbotron {
    width: 400px;
}

.img-size {
    height: 120px;
    margin: 5rem 0;
}

.right-img {
    width: 35rem;
}

.ps-box {
    width: 100%;
}


.social-img {
    width: 5rem;
}