body {
    font-family: Arial, Helvetica, sans-serif;
}


.first-header-box {
    width: 100%;
}

.header-right-box {
    width: 780px;
}

.jumbotron-box {
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-box-2 {
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-jumbo {
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.p-jumbo-2 {
    padding-top: 20rem;
    padding-bottom: 3rem;
}


.text-jumbotron {
    width: 400px;
}




.img-size {
    height: 120px;
    margin: 5rem 0;
}

.right-img {
    width: 35rem;
}

.ps-box {
    width: 100%;
}


.ps-box-2 {
    width: 100%;
    background-color: #bebcbb;
}


.social-img {
    width: 5rem;
}